body {
    background-color: rgb(209, 209, 209)
}


#countlabel{
   display: block;
   text-align: center;
   font-size: 25em;
   color: white;
   text-shadow: 10px 10px 0px rgb(0, 0, 0);
   font-family: sans-serif;
}

#buttoncontainer{
    text-align: center;
}

.buttons{
    font-size: 50px;
    border-style: none;
    box-shadow: 7px 6px 0px rgb(0, 0, 0);
    padding: 15px 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s;
    transition: font-size 0.5s;
}

.buttons:hover{
    background-color: rgb(223, 223, 223);
    cursor: pointer;
    font-size: 3.5em;
}

.buttons:active{
    background-color: rgb(223, 223, 223);
    cursor: pointer;
    font-size: 3.5em;
}

#decreasebutton{
    width: 90px;
    transition: font-size 0.5s;
}

#decreasebutton:hover{
    width: 94px;
    height: 94px;
}

@media only screen and (max-width: 360px){
    .buttons{
        font-size: 34px;
    }   
    #decreasebutton{
        width: 70px;
    }
    #increasebutton{
        width: 75px;
    }
    .buttons:hover{
        background-color: rgb(223, 223, 223);
        cursor: pointer;
        font-size: 2.2em;
    }
    #decreasebutton:hover{
        width: 72px;
        height: 72px;
    }
    
}